---
import { dash } from "radash";
import CardBody from "./CardBody.astro";
import CardImage from "./CardImage.astro";

type Props = {
  title: string;
  description: string;
  href: string;
  cover?: ImageMetadata | undefined;
  // completed?: Date | undefined;
  // location: string;
  tags?: string[] | undefined;
};

const { href, title, description, cover, tags } = Astro.props;
---

<li
  class="group max-w-[600px] overflow-clip rounded-xl border bg-card text-card-foreground"
  transition:name={`border-${dash(title)}`}
>
  <a {href}>
    {cover ? <CardImage {cover} /> : null}
    <CardBody {title} {description} {tags} />
  </a>
</li>
