---
import type { CollectionEntry } from "astro:content";
import { dash } from "radash";
import CardBody from "./CardBody.astro";
import CardImage from "./CardImage.astro";

type Props = CollectionEntry<"projects">["data"] & {
  href: string;
};

const { href, title, description, cover, meta } = Astro.props;
---

<li
  class:list={[
    "group max-w-[600px] overflow-clip rounded-xl border bg-card text-card-foreground",
    "transition-colors duration-300 hover:bg-primary/5",
  ]}
  transition:name={`border-${dash(title)}`}
>
  <a {href} class="flex h-full flex-col">
    {
      cover?.image && cover.alt && (
        <CardImage image={cover.image} alt={cover.alt} />
      )
    }
    <CardBody {title} {description} tools={meta?.tools} tags={meta?.tags} />
  </a>
</li>
