---
/* global ImageMetadata */

import { dash } from "radash";
import type { Tool } from "src/content/config";
import CardBody from "./CardBody.astro";
import CardImage from "./CardImage.astro";

type Props = {
  title: string;
  description: string;
  href: string;
  cover?: ImageMetadata | undefined;
  coverAlt?: string | undefined;
  tools?: Tool[] | undefined;
  tags?: string[] | undefined;
};

const {
  href,
  title,
  description,
  cover,
  coverAlt = "",
  tools,
  tags,
} = Astro.props;
---

<li
  class="group max-w-[600px] overflow-clip rounded-xl border bg-card text-card-foreground"
  transition:name={`border-${dash(title)}`}
>
  <a {href}>
    {cover ? <CardImage {cover} {coverAlt} /> : null}
    <CardBody {title} {description} {tools} {tags} />
  </a>
</li>
