---

import ToolIcon from "@components/ToolIcon.astro";
import { dash, title as titleCase } from "radash";
import type { Tool } from "src/content.config";
import Tags from "./CardTags.astro";

type Props = {
  title: string;
  description: string;
  tools?: Tool[] | undefined;
  tags?: string[] | undefined;
};

const { title, description, tools, tags } = Astro.props;
const dashedTitle = dash(title);
---

<div class="flex flex-col grow rounded-b-xl p-5">
  <div class="my-3 flex flex-wrap gap-2 items-center justify-between">
    <h2 class="font-semibold" transition:name={dashedTitle}>
      {titleCase(title)}
    </h2>
    {
      tools && (
        <div class="flex gap-2 *:size-5">
          {tools.map((tool) => (
            <ToolIcon transitionName={`${dashedTitle}-${tool}-logo`} {tool} />
          ))}
        </div>
      )
    }
  </div>
  <p
    class="font-mono text-muted-foreground text-sm mb-3"
    transition:name={`${dashedTitle}-description`}
  >
    {description}
  </p>
  {tags && <Tags {tags} />}
</div>
