---
/* global ImageMetadata */

import { Image } from "astro:assets";
import { dash } from "radash";

type Props = {
  title: string;
  description: string;
  cover?: ImageMetadata | undefined;
};

const { title, description, cover } = Astro.props;
const dashedTitle = dash(title);
---

<article
  class="prose mx-auto max-w-screen-lg rounded-xl border bg-background pb-5 lg:prose-lg dark:prose-invert"
  transition:name={`border-${dashedTitle}`}
>
  {
    cover ? (
      <Image
        src={cover}
        alt="hero"
        widths={[240, 480, 850]}
        sizes={`(max-width: 360px) 240px, (max-width: 480px) 480px, (min-width: 850px) 850px`}
        class="aspect-[21/9] w-full rounded-t-xl object-cover"
        transition:name={cover.src}
      />
    ) : null
  }

  <div class="px-5 lg:px-10">
    <h1 {title} transition:name={dashedTitle}>{title}</h1>
    <p class="text-muted-foreground">
      {description}
    </p>
    <slot name="content" />
  </div>
</article>
