---
import GithubLink from "@components/GithubLink.astro";
import Toc from "@components/Toc.astro";
import ToolIcon from "@components/ToolIcon.astro";
import type { ProjectProps } from "@shared/types";
import generateToc from "@utils/generateToc";
import { Image } from "astro:assets";
import { dash } from "radash";

type Props = ProjectProps;

const { title, headings, description, repoLink, tools, cover, coverAlt } =
  Astro.props;
const dashedTitle = dash(title);
---

<div class="flex max-w-screen-xl gap-10">
  <article
    class="prose mx-auto max-w-screen-lg rounded-xl border bg-background pb-5 lg:prose-lg dark:prose-invert"
    transition:name={`border-${dashedTitle}`}
  >
    {
      cover && (
        <Image
          src={cover}
          alt={coverAlt}
          widths={[240, 480, 850]}
          loading="eager"
          sizes={`(max-width: 360px) 240px, (max-width: 480px) 480px, (min-width: 850px) 850px`}
          class="aspect-[21/9] w-full rounded-t-xl object-cover"
          transition:name={cover.src}
        />
      )
    }

    <div class="p-5 pb-0 lg:p-12 lg:pb-0">
      <header>
        <h1 {title} transition:name={dashedTitle}>{title}</h1>
        <p
          transition:name={`${dashedTitle}-description`}
          class="not-prose -mt-8 mb-5 font-mono text-muted-foreground"
        >
          {description}
        </p>
      </header>

      {
        (tools || repoLink) && (
          <div
            class:list={[
              "mb-10 flex items-center justify-between",
              !tools && repoLink && "justify-end",
            ]}
          >
            {tools && (
              <div class="flex w-fit items-center gap-2 *:size-10 *:rounded-xl *:border *:p-2">
                {tools.map((tool) => (
                  <ToolIcon
                    transitionName={`${dashedTitle}-${tool}-logo`}
                    {tool}
                  />
                ))}
              </div>
            )}
            {repoLink && <GithubLink href={repoLink} />}
          </div>
        )
      }

      <slot />
    </div>
  </article>

  <aside class="sticky top-[calc(var(--header-height)+.5rem)] self-start">
    <h1 class="mb-3 text-lg font-bold">On this page</h1>
    <nav id="secondary">
      <Toc toc={generateToc(headings)} />
    </nav>
  </aside>
</div>
