---
import { actions } from "astro:actions";
import { getEntry } from "astro:content";
import MailIcon from "icons:astro/heroicons/envelope";
import PaperPlane from "icons:astro/heroicons/paper-airplane";
import LinkedInLogo from "icons:astro/simple-icons/linkedin";
import MatrixLogo from "icons:astro/simple-icons/matrix";
import Avatar from "@components/About/MeCard/Avatar.astro";
import AppLink from "@components/AppLink.astro";
import SendEmailResponse from "@components/Contact/SendEmailResponse.astro";
import Heading from "@components/Heading.astro";
import FormFields from "./FormFields.astro";

const {
  data: { person },
} = await getEntry("about", "about-me");
const { data } = await getEntry(person);
---

<form
  id="contact-form"
  transition:name="contact-form"
  method="POST"
  action={actions.contact}
  autocomplete="on"
  class="relative mx-auto flex w-full flex-col gap-5 rounded-xl border bg-background px-6 py-3 justify-center md:w-[600px] lg:max-w-screen-lg lg:px-12 lg:py-6"
>
  <Avatar
    image={data.avatar}
    class="size-16 lg:size-24 absolute -right-4 lg:-right-5 -top-5 border-transparent"
  />

  <Heading class="mb-0">Get in Touch</Heading>

  <div class="flex items-center gap-3 justify-start">
    <AppLink
      as="a"
      appearance="secondary"
      target="_blank"
      href=`mailto:${data.contact.email}`
      title="Email me"
    >
      <MailIcon />
    </AppLink>
    <AppLink
      as="a"
      appearance="secondary"
      target="_blank"
      href={data.contact.matrix}
      title="Add me on Matrix"
    >
      <MatrixLogo />
    </AppLink>
    <AppLink
      as="a"
      appearance="secondary"
      target="_blank"
      href={data.contact.linkedIn}
      title="Connect with me on LinkedIn"
    >
      <LinkedInLogo />
    </AppLink>
  </div>

  <SendEmailResponse />

  <FormFields />

  <AppLink
    id="submit-message"
    as="button"
    type="submit"
    class="self-start"
  >
    Send <PaperPlane />
  </AppLink>
</form>
