---
import { Image } from "astro:assets";
import GithubLink from "@components/GithubLink.astro";
import ToolIcon from "@components/ToolIcon.astro";
import type { ProjectProps } from "@shared/types";
import { dash, title as titleCase } from "radash";
import "./callout.css";

type Props = Omit<ProjectProps, "headings">;

const { title, description, meta, cover } = Astro.props;
const dashedTitle = dash(title);
---

<article
  class:list={[
    "text-base leading-7 min-w-0",
    "w-auto max-w-[70ch] rounded-xl border bg-background pb-5 lg:max-w-[calc(70ch+(theme(spacing.16)*2))]",
    "[&_h2]:border-b [&_h2]:pb-2 [&_h2]:text-3xl [&_h2]:font-semibold [&_h2]:tracking-tight first:[&_h2]:mt-0",
    "[&_h3]:text-2xl [&_h3]:font-semibold [&_h3]:tracking-tight",
    "[&_h4]:text-xl [&_h4]:font-semibold [&_h4]:tracking-tight",
    "[&_a]:font-medium [&_a]:underline",
    "[&_p]:text-justify [&_p]:hyphens-auto [&_p]:break-words",
    "[&_p>code]:rounded [&_p>code]:bg-muted [&_p>code]:px-[0.3rem] [&_p>code]:py-[0.2rem] [&_p>code]:font-mono [&_p>code]:text-sm [&_p>code]:font-semibold",
    "[&_figcaption]:break-words [&_figcaption]:hyphens-auto [&_figcaption]:text-pretty [&_figcaption]:text-sm [&_figcaption]:text-muted-foreground [&_figcaption]:mt-4",
    "[&_pre]:text-sm [&_pre]:leading-7 [&_pre]:py-4 [&_pre]:px-6 [&_pre]:rounded-md",
    "motion-safe:[&_figure>img]:timeline-slide-in-bottom motion-safe:[&_figure>img]:[animation-range:entry_10%_contain_25%]",
    "motion-safe:[&_video]:timeline-slide-in-bottom motion-safe:[&_video]:[animation-range:entry_10%_contain_25%]",
  ]}
  transition:name={`border-${dashedTitle}`}
>
  {
    cover && cover.image && cover.alt && (
      <Image
        src={cover.image}
        alt={cover.alt}
        widths={[240, 480, 850]}
        loading="eager"
        sizes={`(max-width: 360px) 240px, (max-width: 480px) 480px, (min-width: 850px) 850px`}
        class="aspect-[21/9] w-full rounded-t-xl object-cover"
        transition:name={cover.image?.src}
      />
    )
  }

  <div class="p-5 pb-0 lg:p-16 lg:pb-0 [&>*:not(:first-child)]:mt-6">
    <header>
      <h1
        {title}
        transition:name={dashedTitle}
        class="mb-2 text-3xl font-extrabold tracking-tight sm:text-5xl"
      >
        {titleCase(title)}
      </h1>
      <p
        transition:name={`${dashedTitle}-description`}
        class="font-mono text-sm [&&]:text-wrap [&&]:text-left text-muted-foreground sm:text-base"
      >
        {description}
      </p>
    </header>

    {
      (meta?.tools || meta?.repoLink) && (
        <div
          class:list={[
            "mb-10 flex items-center justify-between",
            !meta.tools && meta.repoLink && "justify-end",
          ]}
        >
          {meta.tools && (
            <div class="flex w-fit items-center gap-2 *:size-7 sm:*:size-10 *:rounded-xl *:border *:p-1 sm:*:p-2">
              {meta.tools.map((tool) => (
                <ToolIcon
                  transitionName={`${dashedTitle}-${tool}-logo`}
                  {tool}
                />
              ))}
            </div>
          )}
          {meta.repoLink && <GithubLink href={meta.repoLink} />}
        </div>
      )
    }

    <slot />
  </div>
</article>
