---
import H1 from "@components/H1.astro";
import GradientBackground from "@layouts/GradientBackground.astro";
import Layout from "@layouts/Layout.astro";
import { Image } from "astro:assets";
import { getCollection } from "astro:content";
import { dash } from "radash";
import LeftArrow from "~icons/heroicons/arrow-left";

export async function getStaticPaths() {
  const projects = await getCollection("projects");
  return projects.map((entry) => ({
    params: { slug: entry.slug },
    props: { entry },
  }));
}

const {
  entry: {
    data: { title, description, cover },
    render,
  },
} = Astro.props;

const { Content } = await render();
const dashedTitle = dash(title);
---

<Layout {title}>
  <GradientBackground>
    <div class="mx-auto max-w-4xl">
      <a
        href="/projects"
        class="group mb-3 mt-2 flex w-fit items-center gap-2 rounded-full border bg-background py-2 pl-3 pr-5 text-sm"
      >
        <LeftArrow class="transition-transform group-hover:-translate-x-1" />
        <span>Back to Projects</span>
      </a>
      <article
        class="prose mx-auto max-w-screen-lg rounded-xl border bg-background lg:prose-lg dark:prose-invert prose-headings:mx-5 prose-p:mx-5"
        transition:name={`border-${dashedTitle}`}
      >
        {
          cover ? (
            <Image
              src={cover}
              alt="hero"
              widths={[240, cover.width]}
              sizes={`(max-width: 360px) 240px, ${cover.width}px`}
              class="aspect-[21/9] w-full rounded-t-xl object-cover"
              transition:name={cover.src}
            />
          ) : null
        }

        <H1 {title} transition:name={dashedTitle} />
        <p class="text-muted-foreground">
          {description}
        </p>
        <Content />
      </article>
    </div>
  </GradientBackground>
</Layout>
