---
import Navbar from "@components/Nav/Navbar.astro";
import ThemeProvider from "@components/Nav/ThemeProvider.astro";
import SEO from "@components/SEO.astro";
import "@fontsource-variable/inter";
import InterWoff2 from "@fontsource-variable/inter/files/inter-latin-wght-normal.woff2?url";
import "@fontsource-variable/jetbrains-mono";
import SpeedInsights from "@vercel/speed-insights/astro";
import { ViewTransitions } from "astro:transitions";
import Background from "./Background.astro";

interface Props {
  title: string;
  description?: string | undefined;
}

const { title, description = "Lukas' Homepage" } = Astro.props;
---

<!doctype html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="description" content={description} />
    <meta name="viewport" content="width=device-width" />

    <slot name="preload" />
    <link
      rel="preload"
      as="font"
      href={InterWoff2}
      type="font/woff2"
      crossorigin
    />

    <slot name="seo">
      <SEO {title} {description} />
    </slot>

    <link rel="sitemap" href="/sitemap-index.xml" />
    <link rel="icon" type="image/x-icon" href="data:;" />
    <link
      rel="icon"
      type="image/svg+xml"
      href="/favicon.svg"
      media="(prefers-color-scheme: light)"
      sizes="any"
    />
    <link
      rel="icon"
      type="image/x-icon"
      href="/favicon.ico"
      media="(prefers-color-scheme: light)"
      sizes="16x16 32x32 48x48 128x128 256x256"
    />
    <link
      rel="icon"
      type="image/svg+xml"
      href="/favicon-dark.svg"
      media="(prefers-color-scheme: dark)"
      sizes="any"
    />
    <link
      rel="icon"
      type="image/x-icon"
      href="/favicon-dark.ico"
      media="(prefers-color-scheme: dark)"
      sizes="16x16 32x32 48x48 128x128 256x256"
    />
    <meta name="generator" content={Astro.generator} />
    <title>{title}</title>
    <ViewTransitions />
    <SpeedInsights />
    <ThemeProvider />
  </head>
  <body class="overflow-hidden antialiased transition-colors duration-300">
    <Background>
      <Navbar />
      <main class="flex flex-col items-center"><slot /></main>
    </Background>
    <style is:global>
      @tailwind base;
      @tailwind utilities;

      @layer base {
        :root {
          --background: 0 0% 100%;
          --foreground: 224 71.4% 4.1%;
          --card: 0 0% 100%;
          --card-foreground: 224 71.4% 4.1%;
          --popover: 0 0% 100%;
          --popover-foreground: 224 71.4% 4.1%;
          --primary: 262.1 83.3% 57.8%;
          --primary-foreground: 210 20% 98%;
          --secondary: 220 14.3% 95.9%;
          --secondary-foreground: 220.9 39.3% 11%;
          --muted: 220 14.3% 95.9%;
          --muted-foreground: 220 8.9% 46.1%;
          --accent: 220 14.3% 95.9%;
          --accent-foreground: 220.9 39.3% 11%;
          --destructive: 0 84.2% 60.2%;
          --destructive-foreground: 210 20% 98%;
          --border: 220 13% 91%;
          --input: 220 13% 91%;
          --ring: 262.1 83.3% 57.8%;
          --radius: 0.5rem;
          color-scheme: light;
        }

        :root.dark {
          --background: 224 71.4% 4.1%;
          --foreground: 210 20% 98%;
          --card: 224 71.4% 4.1%;
          --card-foreground: 210 20% 98%;
          --popover: 224 71.4% 4.1%;
          --popover-foreground: 210 20% 98%;
          --primary: 263.4 70% 50.4%;
          --primary-foreground: 210 20% 98%;
          --secondary: 215 27.9% 16.9%;
          --secondary-foreground: 210 20% 98%;
          --muted: 215 27.9% 16.9%;
          --muted-foreground: 217.9 10.6% 64.9%;
          --accent: 215 27.9% 16.9%;
          --accent-foreground: 210 20% 98%;
          --destructive: 0 62.8% 30.6%;
          --destructive-foreground: 210 20% 98%;
          --border: 215 27.9% 16.9%;
          --input: 215 27.9% 16.9%;
          color-scheme: dark;
        }

        :root {
          --header-height: 64px;

          @apply scroll-pt-[84px] bg-background leading-normal text-foreground;
        }

        @media screen(lg) {
          :root {
            --header-height: 66px;
          }
        }

        * {
          @apply border-border;
        }

        :has(:target) {
          @apply motion-safe:scroll-smooth;
        }

        p {
          @apply max-w-[70ch] text-pretty;
        }
      }

      @layer utilities {
        .image-fade {
          mask-image: linear-gradient(
            to bottom,
            rgba(0, 0, 0, 1) 0 50%,
            rgba(0, 0, 0, 0)
          );
        }

        .font-size-clamp-h1 {
          font-size: clamp(
            theme(fontSize.3xl),
            -2.25rem + 9.3333vw,
            theme(fontSize.5xl)
          );
        }
      }
    </style>
  </body>
</html>
