---

import Footer from "@components/Footer/Footer.astro";
import Favicon from "@components/Head/Favicon.astro";
import type SEO from "@components/Head/SEO.astro";
import type Webmentions from "@components/Head/Webmentions.astro";
import Navbar from "@components/Nav/Navbar.astro";
import type ThemeProvider from "@components/Nav/ThemeProvider.astro";
import NativeViewTransitions from "@components/ViewTransitions/NativeViewTransitions.astro";
import lobsterWoff2 from "@fontsource/lobster/files/lobster-latin-400-normal.woff2?url";
import "../../src/styles/global.css";

import "@fontsource-variable/inter";
import "@fontsource-variable/jetbrains-mono";
import "@fontsource/lobster";

interface Props {
  title: string;
  description?: string | undefined;
}

const { title, description = "Lukas' Homepage" } = Astro.props;
---

<!doctype html>
<html
  lang="en"
  class:list={[
    "bg-background leading-normal text-foreground scroll-pt-(--header-height) [scrollbar-gutter:stable]",
    "[--header-height:64px] lg:[--header-height:80px]",
    "has-target:motion-safe:scroll-smooth",
  ]}
>
  <head>
    <meta charset="UTF-8" />
    <title>{title}</title>
    <meta name="description" content={description} />
    <meta name="viewport" content="width=device-width" />
    <meta name="generator" content={Astro.generator} />

    <link rel="sitemap" href="/sitemap-index.xml" />
    <Webmentions />
    <Favicon />
    <link
      rel="preload"
      as="font"
      type="font/woff2"
      href={lobsterWoff2}
      crossorigin="anonymous"
    />
    <slot name="preload" />
    <slot name="head" />
    <slot name="seo">
      <SEO {title} {description} />
    </slot>
    <NativeViewTransitions />
    <ThemeProvider />
  </head>
  <body class="antialiased">
    <Navbar />
    <main
      transition:name="main"
      class="flex w-full flex-col items-center mt-(--header-height)"
    >
      <slot />
    </main>
    <Footer />
  </body>
</html>
