---
import DesktopIcon from "icons:astro/heroicons/computer-desktop-16-solid";
import MoonIcon from "icons:astro/heroicons/moon-16-solid";
import SunIcon from "icons:astro/heroicons/sun-16-solid";
import type { Theme } from "./themeSwitcher";

const options = ["auto", "dark", "light"] as const satisfies Theme[];
---

<fieldset
  class:list={[
    "relative isolate border border-solid flex rounded-full w-fit h-8 box-content",
    "has-focus-visible:outline has-focus-visible:outline-offset-1",
    "has-[#auto-theme:checked]:[&>span]:translate-x-0",
    "has-[#dark-theme:checked]:[&>span]:translate-x-full",
    "has-[#light-theme:checked]:[&>span]:translate-x-[200%]",
  ]}
>
  <legend class="sr-only">Select a theme</legend>
  {
    options.map((option) => (
      <input
        type="radio"
        name="theme"
        id={`${option}-theme`}
        value={option}
        class:list={[
          "fixed top-0 left-0 outline-hidden m-0 p-0 appearance-none",
          "checked:[&+label]:text-foreground",
        ]}
      />
      <label
        for={`${option}-theme`}
        class:list={[
          "h-8 w-8 flex justify-center items-center rounded-full cursor-pointer",
          "transition-all text-muted-foreground hover:text-foreground",
          "transition-colors duration-300 ease-in-out",
        ]}
      >
        <span class="sr-only">{option} theme</span>
        {option === "auto" && (
          <DesktopIcon id="auto-theme-icon" class="size-4" />
        )}
        {option === "dark" && (
          <MoonIcon id="dark-theme-icon" class="size-4" />
        )}
        {option === "light" && (
          <SunIcon id="light-theme-icon" class="size-4" />
        )}
      </label>
    ))
  }
  <span
    class:list={[
      "absolute -z-10 box-border  w-8 h-8 rounded-full",
      "hover:border-primary pointer-events-none bg-primary/25",
      "transition-all duration-300 ease-in-out",
    ]}></span>
</fieldset>

<script is:inline>
  window.ThemeProvider.updateThemeSwitcher(window.ThemeProvider.getTheme());
</script>

<script>
  import type {Theme} from "./themeSwitcher"

  declare global {
    interface Window {
      ThemeProvider: {
        initTheme: (doc?: Document) => void;
        getTheme: () => Theme;
        setTheme: (theme: string) => void;
        updateThemeSwitcher: (theme: Theme) => void;
      };
    }
  }

  function init() {
    const observer = new MutationObserver((mutations) => {
      for (const mutation of mutations) {
        if (mutation.type !== "attributes" && mutation.attributeName !== "data-theme") {
          continue
        }

        window.ThemeProvider.updateThemeSwitcher(window.ThemeProvider.getTheme());
      }
    });

    observer.observe(document.documentElement, {attributeFilter: ["data-theme"]});

    const radioButtons = document.querySelectorAll(
      "input[type=radio][name=theme]",
    );
    for (const radioButton of radioButtons) {
      if (radioButton instanceof HTMLInputElement) {
        radioButton.addEventListener("change", () => {
          window.ThemeProvider.setTheme(radioButton.value);
        });
      }
    }
  }

  init();

  // react to system theme change
  matchMedia("(prefers-color-scheme: dark)").addEventListener("change", () => {
    if (window.ThemeProvider.getTheme() === "auto") {
      window.ThemeProvider.initTheme();
    }
  });
</script>
